# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
*.bat
gradlew

#custom
settings.gradle

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
*.gradle

# other
eclipse
run
run_server

# Files from Forge MDK
forge*changelog.txt
forge*README.txt

src/main/generated/
